@model IEnumerable<Pokemon.Models.PokemonBase>
<html>
    <select data-bind="options: pokemonModel,
                       optionsCaption: 'Choose...',
                       optionsText: 'Name',
                       value: chosenPokemon"></select>
    <div class="span2">    
        <form data-bind="with: chosenPokemon" method="post" action="">
            PokemonId:<br />
            <span id="pokemonId" data-bind="text: PokemonId"></span>
            <br />Name:
            <input class='required input-small' id="name" name="name" data-bind='value: Name, uniqueName: true' />
            <br />Evolution Level:
            <input class='required number input-small' id="EvoLevel" data-bind="value: EvoLevel, uniqueName: true" />
            <br />Ability 1:
            <input class='required input-small' id="abl1" data-bind="value: AbilityOne, uniqueName: true" />
            <br />Ability 2:
            <input class='required input-small' id="abl2" data-bind="value: AbilityTwo, uniqueName: true" />
            <br />Abiltiy 3:
            <input class='required input-small' id="abl3" data-bind="value: AbilityThree, uniqueName: true" />
            <br />Primary Type:
            <input class='required input-small' id="pt" data-bind="value: PrimaryType, uniqueName: true" />
            <br />Subtype:
            <input class='required input-small' id="st" data-bind="value: SubType, uniqueName: true" />
            <br />HP Stat:<br />
            <input class='required number input-mini' data-bind="value: HPStat, uniqueName: true" />
            <br />Speed Stat:
            <input class='required number input-mini' data-bind="value: SpeedStat, uniqueName: true" />
            <br />Attack Stat:<br />
            <input class='required number input-mini' data-bind="value: AttackStat, uniqueName: true" />
            <br />Sp Attack Stat:
            <br /><input class='required number input-mini' data-bind="value: SpAttackStat, uniqueName: true" />
            <br />Defense Stat:
            <br /><input class='required number input-mini' data-bind="value: DefenseStat, uniqueName: true" />
            <br />Sp Defense Stat:
            <br /><input class='required number input-mini' data-bind="value: SpDefenseStat, uniqueName: true" />
            <br />Male Gender Percent:
            <br /><input class='required number input-mini' data-bind="value: MaleGenderPercent, uniqueName: true" />
            <br />Level Speed:
            <br /><input class='required number input-mini' data-bind="value: LevelSpeed, uniqueName: true" />
            <br />Base Exp:
            <br /><input class='required number input-mini' data-bind="value: BaseExp, uniqueName: true" />
            <br />Base Catch:
            <br /><input class='required number input-mini' data-bind="value: BaseCatch, uniqueName: true" />
        </form>
            <button data-bind="visible: chosenPokemon, click: savePokemon">Submit</button>
            <button data-bind="visible: chosenPokemon, click: resetPokemon">Clear</button>
        </div>
<script type="text/javascript">
    function PokemonViewModel() {
        this.pokemonModel = @Html.Raw(Json.Encode(Model));
        this.chosenPokemon = ko.observable();
        this.resetPokemon = function() { this.chosenPokemon(null) }
        this.savePokemon = function() { 
            var pkmn = ko.toJSON(this.chosenPokemon)
            if(!$('form').valid()) {
                $('form').show('form#errors').show();
                return false;
            }
            else {
            $.ajax({
                type: "POST",
                url: "/Pokemon/SaveBasePokemon",
                data: pkmn,
                dataType: "json",
                contentType: "application/json charset=utf-8"
            });
            return true;
            }
        }
    }
    ko.applyBindings(new PokemonViewModel());

    $("form").validate({ submitHandler: PokemonViewModel });
    </script>
</html>
